* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_237 {
  width: 100%;
  height: 1024px;
  background: rgba(251,246,234,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_238 {
  width: 303px;
  height: 109px;
  background: rgba(254,252,247,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 1168px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v7_239 {
  width: 308px;
  height: 57px;
  background: rgba(254,252,247,1);
  opacity: 1;
  position: absolute;
  top: 926px;
  left: 566px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v7_240 {
  width: 255px;
  color: rgba(94,71,54,1);
  position: absolute;
  top: 12px;
  left: 1188px;
  font-family: thmanyah serif display;
  font-weight: Black;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v7_241 {
  width: 32px;
  height: 32px;
  background: url("../images/v7_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 939px;
  left: 808px;
  overflow: hidden;
}
.v7_242 {
  width: 32px;
  height: 32px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_243 {
  width: 30px;
  height: 22px;
  background: rgba(112,85,64,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
}
.v7_244 {
  width: 38px;
  height: 38px;
  background: url("../images/v7_244.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 934px;
  left: 595px;
  overflow: hidden;
}
.v7_245 {
  width: 38px;
  height: 38px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_246 {
  width: 25px;
  height: 28px;
  background: rgba(112,85,64,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
}
.v7_247 {
  width: 32px;
  height: 32px;
  background: url("../images/v7_247.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 939px;
  left: 700px;
  box-shadow: 0px 1px 10px rgba(0.6039215922355652, 0.48235294222831726, 0.37254902720451355, 1);
  overflow: hidden;
}
.v7_248 {
  width: 32px;
  height: 32px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_249 {
  width: 28px;
  height: 21px;
  background: rgba(112,85,64,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 1px;
}
.v7_286 {
  width: 440px;
  height: 775px;
  background: rgba(254,252,247,1);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 968px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v7_287 {
  width: 440px;
  height: 775px;
  background: rgba(254,252,247,1);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v7_288 {
  width: 440px;
  height: 775px;
  background: rgba(254,252,247,1);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 32px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v7_290 {
  width: 295px;
  color: rgba(58,50,43,1);
  position: absolute;
  top: 157px;
  left: 1132px;
  font-family: thmanyah serif text;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v7_297 {
  width: 295px;
  color: rgba(58,50,43,1);
  position: absolute;
  top: 157px;
  left: 641px;
  font-family: thmanyah serif text;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v7_298 {
  width: 295px;
  color: rgba(58,50,43,1);
  position: absolute;
  top: 157px;
  left: 177px;
  font-family: thmanyah serif text;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v7_296 {
  width: 24px;
  height: 24px;
  background: url("../images/v7_296.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 1003px;
  overflow: hidden;
}
.v7_291 {
  width: 24px;
  height: 24px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_295 {
  width: 18px;
  height: 18px;
  background: rgba(59,50,43,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v7_299 {
  width: 420px;
  height: 116px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 978px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v10_367 {
  width: 420px;
  height: 116px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 395px;
  left: 978px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v10_371 {
  width: 420px;
  height: 116px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 525px;
  left: 978px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v10_375 {
  width: 420px;
  height: 116px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 510px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v10_379 {
  width: 420px;
  height: 116px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 395px;
  left: 510px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v7_300 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 297px;
  left: 1164px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: right;
}
.v10_368 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 427px;
  left: 1164px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: right;
}
.v10_372 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 557px;
  left: 1164px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: right;
}
.v10_376 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 297px;
  left: 696px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: right;
}
.v10_380 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 427px;
  left: 696px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: right;
}
.v10_365 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 294px;
  left: 953px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_369 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 424px;
  left: 953px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_373 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 554px;
  left: 953px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_377 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 294px;
  left: 485px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_381 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 424px;
  left: 485px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_366 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 324px;
  left: 953px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_370 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 454px;
  left: 953px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_374 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 584px;
  left: 953px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_378 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 324px;
  left: 485px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_382 {
  width: 203px;
  color: rgba(112,85,64,1);
  position: absolute;
  top: 454px;
  left: 485px;
  font-family: thmanyah serif text;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
